/.clj-kondo/*
.eastwood
/log
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
TAGS
/.lsp/
/PKGBUILD
/bibcal
/*.rpm
/bibcal-linux-x86_64
/*.deb
/test/xyz/thoren/bats/
*.DS_Store
/bibcal.build_artifacts.txt
